fairlearn==0.7.0
faiss==1.5.3
faiss-gpu==1.7.2
imbalanced-learn==0.8.1
imblearn==0.0
ipykernel==5.5.6
joblib==1.1.1
matplotlib==3.3.4
medmnist==3.0.2
networkx==2.5.1
noise==1.2.2
numpy==1.19.5
omegaconf==2.3.0
opencv-python==4.10.0.84
openTSNE==0.6.0
pandas==1.1.5
Pillow==8.4.0
plotly==5.18.0
Pygments==2.14.0
pyparsing==3.1.1
pytorch-metric-learning==2.6.0
pytorch-pretrained-bert==0.6.2
PyYAML==6.0.1
pyzmq==25.1.1
river==0.8.0
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
statsmodels==0.12.2
torch==1.10.1
torchmetrics==0.8.2
torchvision==0.11.2
tqdm==4.64.1
umap==0.1.1
UMNN==1.70
wandb==0.14.2
wfdb==3.4.1
widgetsnbextension==3.6.6
xgboost==1.5.2
